{% extends 'base.html' %}
{% load static %}

{% block head %}
<!-- CSS 파일 로드 -->
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block body %}

<div class="create_container">
    <div class="create_card">
        {% if product_exists %}
            <img class="create_img" src="{{ product.photo }}" alt="이미지 없음">
            <div class="create_text">
                <strong><p class="create_brand">{{ product.brand }}</p></strong>
                <p class="create_title">{{ product.title }}</p>
            </div>
        {% else %}
            <img class="create_img" src="{{ review.photo }}" alt="이미지 없음">
            <div class="create_text">
                <strong><p class="create_brand">{{ review.brand }}</p></strong>
                <p class="create_title">{{ review.title }}</p>
            </div>
        {% endif %}
    </div>
    <div class="create_form_container">
        {% if product_exists %}
            <form action="{% url 'reviews:create' product.data_id %}" method="POST" enctype="multipart/form-data">
        {% else %}
            <form action="{% url 'reviews:create' review.review_product_id %}" method="POST" enctype="multipart/form-data">
        {% endif %}
            {% csrf_token %}
            <div class="rating review_rating">
                <div id="rating-stars"></div>
                <input type="hidden" id="score-input" name="score" value="0">
            </div>
            {% for field in review_form %}
                <p class="content_form">{{ field }}</p>
            {% endfor %}
            <div class="review_sumbit">
                <input type="submit" value='리뷰쓰기'>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script>
    $(document).ready(function() {
        $("#rating-stars").rateYo({
            starWidth: "25px",
            spacing: "10px",
            fullStar: true,
            precision: 1,
            onSet: function(rating, rateYoInstance) {
                $("#score-input").val(rating.toFixed(0));
            }
        });
    });    
</script>

{% endblock body %}
