{% extends 'base.html' %}
{% block body %}
<div class="flex flex-row p-10">
  <!-- 제품정보 -->
  <div class="flex flex-col w-1/6 h-1/2 bg-white border border-gray-200 rounded-lg shadow mr-5 p-5">
    {% if product_exists %}
      <img class="w-5/6 self-center rounded-lg mb-2" src="{{ product.photo }}" alt="product image" />
      <h5 class="text-base text-gray-500 truncate">{{ product.brand }}</h5>
      <a href="https://www.musinsa.com/app/goods/{{ product.data_id}}" target="_blank">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900">{{ product.title }}</h5>
      </a>
    {% else %}
      <img class="w-5/6 self-center rounded-lg mb-2" src="{{ review.photo }}" alt="product image" />
      <h5 class="text-base text-gray-500 truncate">{{ review.brand }}</h5>
      <a href="https://www.musinsa.com/app/goods/{{ review.review_product_id }}" target="_blank">
        <h5 class="text-xl font-semibold tracking-tight text-gray-900">{{ review.title }}</h5>
      </a>
    {% endif %}
    <div class="flex items-center">
      <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Rating star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
      {% if average_score == None %}
        <p class="ml-2 text-base font-bold text-gray-900">0.0</p>
      {% else %}
        <p class="ml-2 text-base font-bold text-gray-900">{{ average_score|floatformat:2 }}</p>
      {% endif %}
      <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span>
      <span href="#" class="text-base font-large text-gray-900">리뷰 {{ review_count }}</span>
    </div>
  </div>

  <!-- 리뷰 목록 -->
  <div class="w-full bg-white border border-gray-200 rounded-lg shadow">
    <!-- 상단탭 -->
    <ul class="flex flex-wrap items-center text-base font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg bg-gray-50" id="defaultTab" data-tabs-toggle="#defaultTabContent" role="tablist">
      <li class="mr-2">
        <button id="review-tab" data-tabs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="true" class="inline-block p-4 text-blue-600 rounded-tl-lg hover:bg-gray-100">리뷰({{ review_count }})</button>
      </li>
      <li class="mr-2">
          {% if product_exists %}
            <a href="{% url 'reviews:create' product.data_id %}">
              <button button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2">+ 리뷰 쓰기</button>
            </a> 
          {% else %}
            <a href="{% url 'reviews:create' review.review_product_id %}">
              <button button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2">+ 리뷰 쓰기</button>
            </a> 
          {% endif %}
      </li>
    </ul>
    <!-- 리뷰 콘텐츠창 -->
    <div id="defaultTabContent">
      <div class="hidden p-4 bg-white rounded-lg" id="review" role="tabpanel" aria-labelledby="review-tab">
        {% if reviews %}
          {% for review in reviews %}
          {% with person=review.user %}
            <article>
              <div class="flex justify-between">
                <div class="flex items-center space-x-4">
                  <img class="w-10 h-10 rounded-full" src="{{ person.profile_image.url }}" alt=''>
                  <div class="space-y-1 font-base">
                    <p><a href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a><span class="block text-sm text-gray-500">{{ review.created_at|date:"Y-m-d"}}</span></p>
                  </div>
                </div>
                <div class="flex items-center mb-1">
                  <svg aria-hidden="true" class="w-7 h-7 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Score</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                  <span class="text-xl">{{ review.score }}</span>
                </div>
              </div>
              <a href="{% url 'reviews:review_detail' review.pk %}">
                <div class="flex justify-between">
                  <div>
                    <h3 class="mt-3 text-xl font-semibold text-gray-900">{{ review.review_title }}</h3>
                    <p class="mb-2 text-gray-500">{{ review.content|truncatechars:800 }}</p>
                  </div>
                  {% if review.review_photo %}
                    <img src="{{ review.review_photo.url }}" alt="리뷰 이미지" class="w-32 h-32 rounded-lg">
                    {% endif %}
                    {% endwith %}
                </div>
              </a>
              <aside>
                <div class="flex flex-row items-center">
                  {% if review.like_users.count >= 1 %}
                    <svg fill="red" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-5 h-5 text-red-500">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"></path>
                    </svg>
                  {% else %}
                    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-5 h-5 text-red-500">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"></path>
                    </svg>
                  {% endif %}
                  <sapn class="ml-1 mt-1 text-base text-gray-500">{{ review.like_users.count }} 명이 이 후기를 좋아합니다.</sapn>
                </div>
              </aside>
            </article>
            {% if not forloop.last %}
              <hr class='my-3'>
            {% endif %}
          {% endfor %}
          
          <!-- 페이지네이션 -->
          <ul class="pagination flex justify-center mt-6">
            {% if reviews.has_previous %}
            <li class="page-item">
              <a class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700" href="?page=1">처음으로</a>
            </li>
              <li class="page-item">
                <a class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700" href="?page={{ reviews.previous_page_number }}">이전</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700" tabindex="-1" aria-disabled="true" href="#">이전</a>
              </li>
            {% endif %}
              
            {% for page_number in reviews.paginator.page_range %}
                {% if page_number == reviews.number %}
                <li class="page-item active" aria-current="page">
                    <a class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
                {% endfor %}
          
            {% if reviews.has_next %}
              <li class="page-item">
                <a class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700" href="?page={{ reviews.next_page_number }}">다음</a>
              </li>
              <li class="page-item">
                <a class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700" href="?page={{ reviews.paginator.num_pages }}">마지막으로</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700" tabindex="-1" aria-disabled="true" href="#">다음</a>
              </li>
            {% endif %}
          </ul>
        {% else %}
        <p>작성된 리뷰가 없습니다.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
  
{% endblock body %}




<nav aria-label="Page navigation example">
  <ul class="inline-flex -space-x-px">
    <li>
      <a href="#" class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
    </li>
    <li>
      <a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
    </li>
    <li>
      <a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
    </li>
    <li>
      <a href="#" aria-current="page" class="px-3 py-2 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
    </li>
    <li>
      <a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
    </li>
    <li>
      <a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
    </li>
    <li>
      <a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
    </li>
  </ul>
</nav>
