{% extends 'base.html' %}
{% block body %}
<div class="flex flex-row p-10">
  <div class="flex flex-col w-1/4 h-1/2 bg-white border border-gray-200 rounded-lg shadow mr-5 p-5">
    <img class="w-5/6 self-center rounded-lg mb-2" src="{{ product.photo }}" alt="product image" />
    <h5 class="text-base text-gray-500 truncate">{{ product.brand }}</h5>
    <a href="https://www.musinsa.com/app/goods/{{ product.product_id}}" target="_blank">
      <h5 class="text-xl font-semibold tracking-tight text-gray-900">{{ product.title }}</h5>
    </a>
    <div class="flex items-center">
      <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Rating star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
      {% if average_score == None %}
        <p class="ml-2 text-base font-bold text-gray-900">0.0</p>
      {% else %}
        <p class="ml-2 text-base font-bold text-gray-900">{{ average_score }}</p>
      {% endif %}
      <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span>
      <span href="#" class="text-base font-large text-gray-900">리뷰 {{ reviews.count }}</span>
    </div>
  </div>
  <div class="w-full bg-white border border-gray-200 rounded-lg shadow">
    <ul class="flex flex-wrap items-center text-base font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg bg-gray-50" id="defaultTab" data-tabs-toggle="#defaultTabContent" role="tablist">
      <li class="mr-2">
        <button id="review-tab" data-tabs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="true" class="inline-block p-4 text-blue-600 rounded-tl-lg hover:bg-gray-100">리뷰 목록</button>
      </li>
      <li class="mr-2">
        <a href="{% url 'reviews:create' product.data_id %}">
          <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2">+ 리뷰 쓰기</button>
        </a>
      </li>
    </ul>
    <div id="defaultTabContent">
      <div class="hidden p-4 bg-white rounded-lg" id="review" role="tabpanel" aria-labelledby="review-tab">
        {% for review in reviews %}
          <a href="{% url 'reviews:review_detail' review.review_product_id review.pk %}">
            <article>
              <div class="flex items-center mb-4 space-x-4">
                <img class="w-10 h-10 rounded-full" src="https://picsum.photos/200" alt="">
                <div class="space-y-1 font-base">
                  <p>{{ review.user }}<span class="block text-sm text-gray-500">{{ review.created_at|date:"Y-m-d"}}</span></p>
                </div>
              </div>
              <div class="flex items-center mb-1">
                <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Score</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                <span>{{ review.score }}</span><h3 class="ml-2 text-base font-semibold text-gray-900">{{ review.review_title }}</h3>
              </div>
              <p class="mb-2 text-gray-500">{{ review.content }}</p>
              <aside>
                <div class="flex flex-row items-center">
                  <form action="{% url 'reviews:review_like' review.review_product_id review.pk%}">
                    {% csrf_token %}
                    {% if request.user in review.like_users.all %}
                      <button type="submit">
                        <svg fill="red" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-5 h-5 text-red-500">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"></path>
                        </svg>
                      </button>
                    {% else %}
                      <button type="submit">
                        <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-5 h-5 text-red-500">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"></path>
                        </svg>
                      </button>
                    {% endif %}
                  </form>
                  <sapn class="mt-1 text-base text-gray-500">{{ review.like_users.count }} 명이 이 후기를 좋아합니다.</sapn>
                </div>
              </aside>
            </article>
          </a>
          <hr>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
  
{% endblock body %}
