{% extends 'base.html' %}
{% load static %}

{% block head %}
<!-- CSS 파일 로드 -->
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block body %}

<div class="category_container">
    <div class="search_title">
        <p>{{ query }}</p>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 w-7/12 rounded-10">
        {% for product in products_search %}
        <div class="search_card">
            <img class="search_img" src="{{ product.photo }}" alt="이미지 없음">
            <strong><p>{{ product.brand }}</p></strong>
            <p class="product_title">{{ product.title }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% block js%}
    <script src="{% static 'script.js' %}"></script>
{% endblock js %}

{% endblock body %}
