{% if page_obj.has_previous or page_obj.has_next %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{{ page_param }}={{ page_obj.previous_page_number }}" aria-label="이전">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&laquo;</span>
            </li>
        {% endif %}

        {% for page in page_obj.paginator.page_range %}
            {% if page_obj.number == page %}
                <li class="page-item active">
                    <span class="page-link">{{ page }}</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?{{ page_param }}={{ page }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{{ page_param }}={{ page_obj.next_page_number }}" aria-label="다음">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&raquo;</span>
            </li>
        {% endif %}
    </ul>
{% endif %}
