{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="card m-2 p-2" style="width:50%;">
    <img src="{{ user.profile_image.url }}" class="w-24 h-24 mb-3 rounded-full shadow-lg" alt=''>
    <div class="card-body">
        <form action="{% url 'accounts:update' %} " method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type='submit' class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 text-center">수정</button>
        </form>
    </div>
  </div>
{% endblock body %}