{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="flex justify-center">
  <div class="card m-5" style="width:70%;">
  <div>
    <img src="{{ user.profile_image.url }}" class="w-24 h-24 m-3 mb-3 rounded-full shadow-lg" alt=''>
    <p class="mb-2 ml-5 text-blue-500" style="font-size: 24px;">나의 정보</p>
    <p class="mb-2 ml-5" >고객께서 가입하신 유신사 회원 정보입니다.</p>
  </div>
    <div class="card-body">
        <form class="flex flex-col items-left" action="{% url 'accounts:update' %} " method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="relative mb-10 w-1/4 flex items-center mb-2">
          <p class="col-3">아이디 : </p> {{ user.username }}  
          <div class="ml-3">
            {{ form.username }}
          </div>
          <label for="floating_username" class="absolute text-gray-500 duration-300 transform -translate-y-9 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-9">아이디</label>
        </div>
        <div class="relative mb-10 w-2/4 flex items-center mb-2">
          <p class="col-4">프로필 이미지 업로드 : </p>
          {{ form.profile_image }}
        </div>  
        <div class="w-1/4 self-end text-right">
          <button type='submit' class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5">수정</button>
        </div>
        </form>
    </div>
  </div>
</div>
{% endblock body %}