{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>유신사</title>
</head>
<body>
  <nav class="bg-black">
    <div class="flex items-center p-3">
      <div class="mx-4">
        <a href="{% url 'reviews:index' %}" class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z" />
          </svg>            
          <span class="self-center text-2xl font-bold text-white">유신사</span>
        </a>
      </div>
      <div class="grow text-center">
        <form method="GET" action="{% url 'reviews:search' %}">
          <input type="text" id="search-navbar" class="w-5/6 p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-slate-300 focus:border-slate-300" placeholder="🔍 상품명을 검색하세요." name="query" value="{{ query }}">
        </form>
      </div>
      {% if request.user.is_authenticated %}
        <div class="mx-4 text-white">

          <a href="{% url 'accounts:mypage' request.user.username %}">내 페이지</a>

          <a href="{% url 'accounts:profile' %}">마이페이지</a>

        </div>
        <div class="mx-4 text-white">
          <a href="{% url 'accounts:basic_logout' %}">로그아웃</a>
        </div>
      {% else %}
        <div class="mx-4 text-white">
          <a href="{% url 'accounts:basic_login' %}">로그인</a>
        </div>
        <div class="mx-4 text-white">
          <a href="{% url 'accounts:basic_signup' %}">회원가입</a>
        </div>
      {% endif %}
    </div>
  </nav>
</body>
</html>